<h3>
  <%= @post.title  %>
</h3>

<div class="row">
  <div class="left grey-text lighten-2">
    <%= @post.date %> 
    <%= @post.source %>
  </div>
  <div class="right">
    <% if current_user != nil %>
      <a href="/fav/<%= @post.id %>" class="waves-effect waves-light btn" id="favbutton">お気に入り</a>
    <% end %>
    <span class="red btn">
      <%= @counter %> views
    </span>
  </div>
</div>


<div class="card">
  <div class="card-image">
    <img src="<%= @post.photourl %>">
  </div>
  <div class="card-content">
    <p><%= @post.main_content %></p>
  </div>
</div>

<div class="card-panel red lighten-2 white-text">
  コメント
</div>

<% if @comments.length > 0 %>
  <ul class="collection">
    <% @comments.each do |comment| %> 
      <li class="collection-item"><%= comment.content %></li>
    <% end %>
  </ul>
<% else %>
  <h6>
  まだコメントはありません。
  <h6>
<% end %>



<div class="row">
  <%= form_with(url: "/posts/#{@post.id}/comments", method: "post" ,local: true, class: "col" ) do %>
    <div>
      <%= label_tag :コメント %>
      <%= text_field_tag(:comment) %>
    </div>
    <%= submit_tag("書き込み", :class=>"waves-effect waves-light btn red white-text") %>
  <% end %>
</div>


