<!DOCTYPE html>
<html>
  <head>
    <title>FootballNews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <%= render "layouts/navbar"  %> 
    </div>
    <%= render "layouts/flash"  %>

    <% if @at_home  %>
      <div class="slider">
        <ul class="slides">
          <% @slides.each do |slide|  %>
            <li>
              <a href="<%=  "posts/" + slide.id.to_s %>">
                <img src="<%= slide.photourl  %>"> <!-- random image -->
              </a>
              <div class="caption center-align" style="pointer-events: none;">
                <h4><%= slide.title  %></h4>
              </div>
            </li>
          <% end %>
          <ul>
      </div>
    <% end %>


    <div class="container">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
